# to use with the program main or toyMain 

# orga
orga.save.directory = /cerea_raid/users/dumontj/dev/plumeDetection/models/model_weights/
orga.save.folder = 

// Model
// ---------------
# SGD -> learning_rate between 1e-2 and 1e-3
model.name = 
model.optimiser = 
model.learning_rate = 
model.batch_size = 
model.epochs.number = 

// Data
// ---------------
data.directory.main = /libre/dumontj/data/co2/xco2-jinghui/multipleInputs/
data.directory.name = 
data.training_ratio = 0.7

// data input
# time
data.input.time = 

# wind
data.input.winds.format = 
data.input.winds.fields.number.current = 
data.input.winds.fields.number.max = 6
data.input.winds.summary.size = 4

# dynamics
data.input.dynamics.format = 
data.input.dynamics.fields.number.current = 
data.input.dynamics.fields.number.max = 3

// data output
data.output.labelling = presence




